/* ======================= google font ===================== */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* font-family: "DM Sans", sans-serif; */

/* ======================= google font ===================== */

/* ======================= common css ====================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

img {
  vertical-align: middle;
}

ul,
ol,
li {
  list-style: none;
}

a,
span {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
div,
section,
article,
address,
li,
ul,
ol,
img,
picture,
a {
  margin: 0;
  padding: 0;
}

/* ======================= common css ====================== */

/* ======================= css variables ====================== */

:root {
  --WhiteColor: #ffff;
  --Anti-FlashWhite: #f3f3f3;
  --WhiteSmoke: #f5f5f3;
  --BlackColor: #262626;
  --DarkSilver: #6d6d6d;
  --SonicSilver: #767676;
  --MetalColor: #b6b6b6;
  --TulipColor: #ff8686;
  --StrongGreen: #7ed321;
  --tealGreen: #15cba5;
  --DM-Sans: "DM Sans", sans-serif;
}

.heading1 {
  font-family: var(--DM-Sans);
  font-weight: bold;
  font-size: 49px;
  line-height: auto;
  letter-spacing: 0px;
}
.heading2 {
  font-family: var(--DM-Sans);
  font-weight: bold;
  font-size: 39px;
  line-height: auto;
  letter-spacing: 0px;
}
.heading3 {
  font-family: var(--DM-Sans);
  font-weight: bold;
  font-size: 32px;
  line-height: auto;
  letter-spacing: 0px;
}
.heading4 {
  font-family: var(--DM-Sans);
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0px;
}
.heading5 {
  font-family: var(--DM-Sans);
  font-weight: bold;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0px;
}
.heading6 {
  font-family: var(--DM-Sans);
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0px;
}
.paragraph {
  font-family: var(--DM-Sans);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
}
.label {
  font-family: var(--DM-Sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0px;
}
.primaryBtn {
  font-size: 14px;
  font-weight: 700;
  line-height: auto;
  background-color: var(--BlackColor);
  color: var(--Anti-FlashWhite);
  border: 0;
  padding: 16px 60px;
  transition: all linear 0.3s;

  &:hover {
    background-color: var(--Anti-FlashWhite);
    color: var(--BlackColor);
  }
}
.secondaryBtn {
  background-color: var(--BlackColor);
  color: var(--Anti-FlashWhite);
  padding: 8px 25px;
  border: 0;
}

/* ======================= css variables ====================== */
/* ======================= navbar style ======================= */

.customNav {
  padding: 25px 0;
}

.customNavMenu {
  margin: 0 auto;
  column-gap: 40px;
}

.customNavMenu__list__item {
  color: var(--SonicSilver);
  font-size: 14px;
  font-family: var(--DM-Sans);
  font-weight: 500;
  transition: all linear 0.3s;
}
.custom--active {
  color: var(--BlackColor);
  font-weight: 600;
}
.customNavMenu__list__item:hover {
  color: var(--BlackColor);
}

/* ======================= navbar style ======================= */

/* ======================= search part style ======================= */

#searchPart {
  background-color: var(--WhiteSmoke);
  padding: 25px 0;
}

.searchProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchLeftPart i {
  font-size: 18px;
}

.searchLeftPart__text {
  color: var(--BlackColor);
  font-size: 16px;
  font-family: var(--DM-Sans);
  font-weight: 500;
}

.searchMiddlePart__input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  background-color: var(--WhiteColor);
  color: var(--BlackColor);
}

.searchMiddlePart__icon {
  position: absolute;
  top: 37%;
  left: 93%;
  cursor: pointer;
}

.searchRightPart i {
  font-size: 20px;
  cursor: pointer;
}

/* ================== hero style ================== */
#hero {
  background-color: #f5f7f9;
}

/* ================== discount style ================== */
#discount {
  padding: 22px 0;
}
.warranty {
  color: var(--MetalColor);
}
.discountLeft {
  position: relative;
}
.discountContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 10%;
  left: 10%;
}
.discountDetails {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.discount__percentage {
  font-size: 40px;
  font-weight: 700;
}
.discountRightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}
.discountRight,
.discountRight2 {
  flex: 1;
  position: relative;
}
/*========== New arrival =========*/
#Newarrival {
  padding: 60px 0px;
}
.newArrivalCard {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.NewArrivalbtn {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 9px 20px;
  background-color: var(--BlackColor);
  color: var(--Anti-FlashWhite);
  border: 0;
}
.newArrivalCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}
.newArrivalCard:hover .newArrivalCard--overlay {
  opacity: 1;
  bottom: 23%;
  right: 0;
}
.newArrivalCard--overlay {
  position: absolute;
  background-color: var(--WhiteSmoke);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 25px;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all linear 0.3s;
}
.newArrivalCard__btn {
  background-color: transparent;
  border: 0;
  color: var(--SonicSilver);
}
.newArrivalCard__icon {
  color: var(--BlackColor);
}
.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0.5rem;
}
.customCarosel--icon {
  background-color: var(--MetalColor);
  padding: 8px 10px;
  border-radius: 20px;
}
.newArrivalN-Cards {
  margin-top: 100px;
}
/*========== phone of year banner =========*/
#banner {
  margin-top: 100px;
}
.Phnoftheyearbanner {
  background-color: var(--WhiteSmoke);
}
.bannerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.banner__btn {
  align-self: flex-start;
}
/*========== speacial offer =========*/
#Offers {
  padding: 100px 0px;
}
.offerCard {
  position: relative;
}
.offercardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offercard__product__price {
  color: var(--SonicSilver);
}
.offercard__product__color {
  margin-top: 15px;
  color: var(--SonicSilver);
}
.btn--new {
  position: absolute;
  top: 6%;
  left: 8%;
}

/* ================ footer part =================== */
#footer {
  background-color: var(--WhiteSmoke);
  padding: 55px 0px;
}
.footerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footerLeft {
  flex: 3;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footerMenu {
  margin-top: 17px;
}
.footerMenu__list {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--DM-Sans);
  line-height: 23px;
  color: var(--DarkSilver);
  &:hover {
    color: var(--BlackColor);
  }
}
.footer__address {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--DM-Sans);
  line-height: 23px;
  color: var(--DarkSilver);
}
.footerRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footerRight__copyright {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--DM-Sans);
  line-height: 18px;
  color: var(--DarkSilver);
}
/* ======================= footer part ======================= */
